.profile {
  display: flex;
}
.profileLabel {
  padding-top: 10px;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileButtons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
