.auth {
  display: flex;
  justify-content: center;
  padding: 120px;
  background: url('./../../assets/authInBg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}
