.auth {
  display: flex;
  justify-content: center;
  padding: 50px;
  background: url('./../../assets/authInBg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
}
